<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>HomePage.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>videoSearchServlet</servlet-name>
        <servlet-class>Servlet.VideoSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>videoSearchServlet</servlet-name>
        <url-pattern>/videoSearchServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>videoSendServlet</servlet-name>
        <servlet-class>Servlet.VideoSendServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>videoSendServlet</servlet-name>
        <url-pattern>/videoSendServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>videoPartitionGet</servlet-name>
        <servlet-class>Servlet.VideoPartitionGet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>videoPartitionGet</servlet-name>
        <url-pattern>/videoPartitionGet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>videoPartitionSend</servlet-name>
        <servlet-class>Servlet.VideoPartitionSend</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>videoPartitionSend</servlet-name>
        <url-pattern>/videoPartitionSend</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>videoPlay</servlet-name>
        <servlet-class>Servlet.VideoPlayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>videoPlay</servlet-name>
        <url-pattern>/videoPlay</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>uploadServlet</servlet-name>
        <servlet-class>Servlet.UploadFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploadServlet</servlet-name>
        <url-pattern>/uploadServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VmessageServlet</servlet-name>
        <servlet-class>Servlet.VmessageUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VmessageServlet</servlet-name>
        <url-pattern>/VmessageServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LikeServlet</servlet-name>
        <servlet-class>Servlet.likesAndCollection.LikesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LikeServlet</servlet-name>
        <url-pattern>/LikeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CollectionServlet</servlet-name>
        <servlet-class>Servlet.likesAndCollection.CollectionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CollectionServlet</servlet-name>
        <url-pattern>/CollectionServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>Servlet.CommentWriteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/CommentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CommentLoadServlet</servlet-name>
        <servlet-class>Servlet.CommentLoadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommentLoadServlet</servlet-name>
        <url-pattern>/CommentLoadServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckLCServlet</servlet-name>
        <servlet-class>Servlet.likesAndCollection.checkLikeCollectionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckLCServlet</servlet-name>
        <url-pattern>/CheckLCServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PersonalVideoServlet</servlet-name>
        <servlet-class>Servlet.PersonalVideoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonalVideoServlet</servlet-name>
        <url-pattern>/PersonalVideoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PersonalServlet</servlet-name>
        <servlet-class>Servlet.Personal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonalServlet</servlet-name>
        <url-pattern>/Personal</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PersonalCollServlet</servlet-name>
        <servlet-class>Servlet.PersonalCollServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonalCollServlet</servlet-name>
        <url-pattern>/PersonalCollServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeletePageServlet</servlet-name>
        <servlet-class>Servlet.DeletePageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletePageServlet</servlet-name>
        <url-pattern>/DeletePageServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteVideoServlet</servlet-name>
        <servlet-class>Servlet.DeleteVideoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteVideoServlet</servlet-name>
        <url-pattern>/DeleteVideoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogOffServlet</servlet-name>
        <servlet-class>Servlet.LogOffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOffServlet</servlet-name>
        <url-pattern>/LogOffServlet</url-pattern>
    </servlet-mapping>

    <!--自动登录 -->
    <filter>
        <filter-name>autoLogin</filter-name>
        <filter-class>filter.autoLogin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>autoLogin</filter-name>
        <url-pattern>/HomePage.jsp</url-pattern>
    </filter-mapping>

    <!--拦截未登录用户点赞等功能-->
<!--    <filter>-->
<!--        <filter-name>SignFilter</filter-name>-->
<!--        <filter-class>filter.SignFilter</filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>SignFilter</filter-name>-->
<!--        <url-pattern>/LikeServlet</url-pattern>-->
<!--    </filter-mapping>-->
<!--    <filter-mapping>-->
<!--        <filter-name>SignFilter</filter-name>-->
<!--        <url-pattern>/CollectionServlet</url-pattern>-->
<!--    </filter-mapping>-->
<!--    <filter-mapping>-->
<!--        <filter-name>SignFilter</filter-name>-->
<!--        <url-pattern>/CommentServlet</url-pattern>-->
<!--    </filter-mapping>-->
</web-app>